*.swp
*.swo
bin/*
!bin/Makefile.am
.prepared*
.built*
.configured*
.dep_files
ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.log
config.rpath
config.status
configure
depcomp
install-sh
ipkg-brcm63xx_ref_nand/
missing
cscope.*
